<div id="signIn">
    <div class="row">
        <div id="forms">
            <form class="form-signin" role="form" _lpchecked="1" style="padding-top: 5px;">
                <h2 class="form-signin-heading">Sign In</h2>
                <input type="email" class="form-control" placeholder="email address" required="" autofocus="" autocomplete="off">
                <input type="password" class="form-control" placeholder="password" required="" autocomplete="off">
                <br>
                <button class="btn btn-lg btn-primary btn-block" ng-click="download()" type="submit">Login</button>
            </form>
            <form class="form-signin" role="form" _lpchecked="1">
                <h2 class="form-signin-heading">Sign Up</h2>
                <input type="name" class="form-control" placeholder="first name" required="" autofocus="" autocomplete="off">
                <input type="name" class="form-control" placeholder="last name" required="" autofocus="" autocomplete="off">
                <input type="email" class="form-control" placeholder="email address" required="" autofocus="" autocomplete="off">
                <input type="password" class="form-control" placeholder="password" required="" autocomplete="off">
                <br>
            </form>
        </div>
        <div id="download">
            <button class="btn btn-lg btn-primary btn-block" ng-click="download()" type="submit">Login or Signup</button>
        </div>
    </div>
</div>