<section class="artistinfo">
    <div class="artist cf" ng-model="artists">
        <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
        <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
        <h1>{{artists[whichItem].name}}</h1>
        <div class="info">
            <!-- <h3>{{artists[whichItem].reknown}}</h3> -->
            <!-- <img src="images/coffeeBag{{artists[whichItem]}}.jpg" alt=""> -->
            <!-- <img src="../images/coffeeBag{{artists[whichItem]}}.jpg" alt=""> -->
            <!-- <img ng-src="images/coffeeBag1.jpg" alt=""> -->
            <!-- images/coffeeBag{{artists[whichItem]}}.jpg             -->
            <img ng-src="images/coffeeBag{{artists.indexOf(artists[whichItem])+1}}.jpg" alt="">
            <div class="bio">{{artists[whichItem].about}}</div>
        </div>
    </div>
    <style>
        .review{
            width: 350px;
        }
        .review img{
            width: 25px;
        }
        .review h4{
            display: inline-block;
            padding: 0 0 0 10px;
            margin: 0;
            float: right;
        }
        .clear{
            opacity: .5;
        }
    </style>
    <div class="review">
        <img src="images/bean.png" alt="">
        <img src="images/bean.png" alt="">
        <img src="images/bean.png" alt="">
        <img src="images/bean.png" alt="">
        <img src="images/bean.png" alt="" class="clear">
        <h4>coffee_pro_67</h4>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ut, recusandae, expedita id sequi suscipit voluptates debitis facere dolorum quia harum ipsa culpa quas adipisci neque distinctio quasi accusamus nostrum!</p>
    </div>
    <div class="review">
        <img src="images/bean.png" alt="">
        <img src="images/bean.png" alt="">
        <img src="images/bean.png" alt="" class="clear">
        <img src="images/bean.png" alt="" class="clear">
        <img src="images/bean.png" alt="" class="clear">
        <h4>espresso_junkie_XX</h4>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ut, recusandae, expedita id sequi suscipit voluptates debitis facere dolorum quia harum ipsa culpa quas adipisci neque distinctio quasi accusamus nostrum!</p>
    </div>
    <a href="index.html">&laquo; Back to search</a>
</section>
